@media screen {
	@font-face {
		font-family: 'IntelOneDisplay';
		font-style: normal;
		font-weight: 300;
		font-display: swap;
		src: url(assets/font/) format('woff2');
	}
}

@import 'settings';
@import 'scss/foundation-emails';

@media screen {
	// fix button and link hover
	a {
		&:hover,
		&:active,
		&:active {
			text-decoration: none !important;
		}
	}
	// buttons
	table.button:hover,
	table.button:visited,
	table.button:active {
		table {
			td a {
				background-color: darken($color: #EF5D62, $amount: 10%) !important;
				color: $button-color !important;
			}
		}
	}
}

.wrap {}
.wrap-td {
	padding-left: 15px;
	padding-right: 15px;
}

body {
	p {
		a {
			display: inline;
		}
	}

	img {
		display: inline-block;
	}


	table.button {
		margin-bottom: 24px;

		table td a {
			line-height: 1.4;
		}
		&.secondary  {}
	}
}



h1,
h2,
h3,
h4,
h5,
h6 {

}

p {}



.t-c {
	text-align: center;

	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	p {
		text-align: inherit;
	}
}

.va-m {
	vertical-align: middle;

	th {
		vertical-align: middle;
	}
}
.mb0 {
	margin-bottom: 0;
}
// block
.header {
	h1, p {
		text-align: right;
	}
	h1 {
		font-weight: 300;
		span {
			padding: 5px 5px;
			display: inline-block;
			background: #0f459d;
			background: rgba(#0f459d,0.8);
		}
	}
}


.body1 {
	background: #fff;
	p {
		color: #14224f;
	}
}

.unlimate {

}
.up54 {

}
.ideal {

}

.gray-b {
	background: #525252;
}

.bg-blue {
	background: #71c8fc;
}

.footer {
	background: #0168b5;
}
// media
@media only screen and (max-width: #{$global-breakpoint}) {
	br {
		display: none;
	}
}