@media screen {
	@font-face {
		font-family: 'IntelOneDisplay';
		font-style: normal;
		font-weight: 300;
		font-display: swap;
		src: url(../assets/fonts/IntelOneDisplayLight.woff) format('woff');
	}
	@font-face {
		font-family: 'IntelOneDisplay';
		font-style: normal;
		font-weight: 400;
		font-display: swap;
		src: url(../assets/fonts/IntelOneDisplayRegular.woff) format('woff');
	}
	@font-face {
		font-family: 'IntelOneDisplay';
		font-style: normal;
		font-weight: 500;
		font-display: swap;
		src: url(../assets/fonts/IntelOneDisplayMedium.woff) format('woff');
	}
}

@import 'settings';
@import 'scss/foundation-emails';

@media screen {
	// fix button and link hover
	a {
		&:hover,
		&:active,
		&:active {
			color: darken($color: #71c8fc, $amount: 10%) !important;
			text-decoration: underline !important;
		}
	}
	// buttons
	table.button:hover,
	table.button:visited,
	table.button:active {
		table {
			td a {
				background-color: darken($color: #71c8fc, $amount: 10%) !important;
				color: $button-color !important;
			}
		}
	}
}

body {
	h1, h2, h3 {
		font-family: 'IntelOneDisplay', Verdana, sans-serif;
	}
	h1 {
		font-weight: 300;
		line-height: 1.1;
	}
	h2 {
		line-height: 1;
		font-weight: 400;
		margin-bottom: 6px;
		sup {
			font-size: 8px;
		}
	}
	h3 {
		font-weight: 400;
		line-height: 1.2;
		sup {
			font-size: 14px;
		}
	}
	h4 {
		line-height: 1.2;
	}
	p {
		sup {
			font-size: 8px;
		}
	}
	p,
	h5,
	h6 {
		a {
			font-weight: 700;
		}
	}

	img {
		display: inline-block;
	}


	table.button {
		margin-bottom: 24px;

		table td a {
			line-height: 1.4;
		}
		&.secondary  {}
	}
}

.wrap-td {
	padding-left: 16px;
	padding-right: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {

}

p {}



.t-c {
	text-align: center;

	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	p {
		text-align: inherit;
	}
}

.va-m {
	vertical-align: middle;

	th {
		vertical-align: middle;
	}
}
.mb0 {
	margin-bottom: 0;
}
// block
.header {
	h1, p {
		text-align: right;
	}
	h1 {
		margin-bottom: 15px;
		Margin-bottom: 15px;
		span {
			padding: 8px 24px 10px 30px;
			display: inline-block;
			background: #0f459d;
			background: rgba(#0f459d,0.8);
		}
	}
	h6 {
		text-align: right;
	}
}

.header-td {
	padding-top: 40px;
	padding-bottom: 5px;
}

.body1 {
	background: #fff;
	p {
		color: #14224f;
	}
}
.body1-td {
	padding-top: 20px;
	padding-bottom: 20px;
}
.columns.img-b {
	width: 90px;
	img {
		max-width: 84px;
		width: 100%;
	}
}
.unlimate {

}
.unlimate-td {
	padding-top: 340px;
	padding-bottom: 10px;
}
.up54 {

}
.up54-td {
	padding-top: 16px;
	padding-bottom: 0px;
}
.ideal {

}
.ideal-td {

}
.up20 {

}
.up20-td {
	padding-top: 16px;
}
.ideal-td {
	padding-top: 240px;
	padding-bottom: 10px;
}

.callout {
	p {
		color: #14224f;
		margin-bottom: 0;
		line-height: 1.1;
	}
	h2 {
		font-size: 64px;
		color: #71c8fc;
		font-weight: 500;
		word-break: break-word;
	}
	th.callout-inner.call-v2 {
		border: 2px solid #ffffff;
		padding: 16px 24px;
		background: #0f459d;
    background: rgba(#0f459d, 0.8);
		h2, p {
			color: #ffffff;
		}
	}
}

.gray-b {
	background: #525252;
}

.gray-b-td {
padding-top: 25px;
padding-bottom: 20px;
}

.columns.gray-b-img {
	width: 100px;
}

.bg-blue {
	background: #71c8fc;
}

.footer {
	background: #0168b5;
	p {
		font-size: 8px;
		margin-bottom: 9px;
		line-height: 1.1;
	}
}
.footer-td {
	padding-top: 38px;
	padding-bottom: 30px;
}
// media
@media only screen and (max-width: #{$global-breakpoint}) {
	br {
		display: none;
	}
}